fastapi 
uvicorn 
sqlalchemy 
psycopg2-binary 
python-multipart 
passlib
bcrypt==4.0.1
pydantic
PyJWT
dotenv
cloudinary
groq
langgraph
langchain_community
langchain_core
langchain_groq
langchain
wikipedia
arxiv
google-generativeai
asyncpg